* { 
       margin: 0; 
       padding: 0; 
     } 
     html,body { 
       height: 100%; 
     } 
     .main-box { 
       width: 400px; 
       height: 200px; 
       background-color: #ccc; 
       position: absolute; 
      
	overflow: hidden; 
      
	top: 50%; 
       left: 50%; 
      margin:-100px 0 0 -200px;
     } 
     .main-box span { 
       display: block; 
       width: 100px; 
       height: 100px; 
       background-color: #fc0; 
       border-radius: 50%; 
       position: absolute; 
       right: -50px; 
       bottom: -50px; 
     } 
     .main-box span:first-child { 
       left: -50px; 
       top: -50px; 
     } 